# CONCLUSIONS:
1. The 50 states vary widely in their energy consumption with Texas consuming the most.
2. By far the most CO2 emissions come from the industrial sector.
3. There is a positive correlation between CO2 emissions and energy consumption.
4. The data suggests that the use of renewable energy sources reduces CO2 emissions

Limitations:
1. A limited time period was selected.
2. We understand that right in the middle of our timeline the financial crisis hit and we do not necessarily address this.
3. There are many forms of renewable energy apart from solar energy. 
4. We did not account for all sources of energy consumption and CO2 emissions which will affect this model (i.e. Transportation).

In [1]:
#Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
from scipy.stats import pearsonr

# Analyzing Total Energy Consumption by State per Sector

In [2]:
#Pull up Residential Energy Consumption throughout 50 states (including USA totals) dataframe from CSV file
df_res = pd.read_csv ("../Resources/Residential_Energy_Consumption_Updated.csv")
df_res

,State,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,SubTotal
0,USA-AL,349230,378853,358238,338290,377607,419277,372781,388024,394481,386066,384310,372753,367777,379696,360336,380174,6007893
1,USA-AK,53136,47823,48810,54597,53939,52253,53536,53668,53742,59556,53524,55874,52810,52028,54045,50780,850121
2,USA-AZ,385477,377963,389450,378865,391384,376625,373842,385383,394012,383046,367317,356054,345614,333695,340074,332073,5910874
3,USA-AR,228573,246790,241000,222034,247420,253858,226791,236545,232476,224542,232994,214193,217225,224615,220830,224902,3694788
4,USA-CA,1347807,1355062,1440463,1437024,1500559,1466657,1483981,1511586,1474374,1488574,1449101,1489320,1455716,1425659,1417985,1426721,23170589
5,USA-CO,347377,353334,363327,335025,354262,352304,339585,347873,343360,327996,329965,313885,324134,323517,307532,298492,5361968
6,USA-CT,251763,248119,245613,232769,238420,251419,253184,255114,265629,256700,286930,298534,298395,261825,263260,271535,4179209
7,USA-DE,65665,66613,64890,62032,67909,72461,68693,68574,67885,63315,70499,67820,69380,67959,61557,63432,1068684
8,USA-FL,1207549,1177125,1147013,1128534,1191486,1271713,1223002,1216701,1254926,1265230,1263599,1249670,1257345,1235554,1165291,1162604,19417342
9,USA-GA,697029,741983,686812,671729,747018,819871,726627,737925,735842,711957,713846,716909,680502,659384,623747,657077,11328258
10,USA-HI,31575,31411,30848,31530,32506,32681,33307,33424,34100,33679,33336,32638,31775,34519,32163,32984,522476
11,USA-ID,122911,119891,127028,116608,125277,120873,127606,135832,129055,125190,120124,110784,104067,107122,104397,109711,1906476
12,USA-IL,924266,1031197,1010009,914300,979617,996827,975665,1028137,1002463,948520,1012609,974561,998082,1006475,949529,972112,15724369
13,USA-IN,535028,582543,568875,520078,557600,582485,559092,591028,578370,516999,560655,530675,549291,535447,504156,516771,8789093
14,USA-IA,226772,253915,253076,224008,246130,248952,246364,255649,243620,230391,239931,234667,240131,239857,231524,238880,3853867
15,USA-KS,221062,240294,235849,220969,245306,248133,239277,243850,235114,229154,239586,229939,236655,237425,227283,238873,3768769
16,USA-KY,360090,393758,384758,361536,383276,412687,383700,393573,394040,371784,391703,370812,372302,381010,346174,359095,6060298
17,USA-LA,333489,348374,343054,338452,370693,385695,352891,346724,346312,269469,307254,291611,288008,311947,293084,318552,5245609
18,USA-ME,107361,91333,85261,81138,87784,88685,90440,88142,97232,91984,103861,105068,98582,78944,85487,83642,1464944
19,USA-MD,424674,439759,428305,399741,418905,451072,425624,424491,435429,413143,454757,450699,438988,415779,392160,409417,6822943
20,USA-MA,435996,438255,422121,404710,424840,436772,424479,431545,424374,409880,449897,455081,475304,465244,457300,460234,7016032
21,USA-MI,741964,788442,772246,701252,763365,751519,755420,807710,813578,791638,880855,836392,874699,862332,814384,807942,12763738
22,USA-MN,379916,431646,416410,372940,398746,400267,407148,420462,413803,391244,408447,409467,427125,398291,369699,368448,6414059
23,USA-MS,196603,217710,210980,194273,229193,240392,221214,228469,232324,230259,231813,231589,239621,239554,220722,247379,3612095
24,USA-MO,497757,559922,536912,491678,540462,564089,528348,549275,535671,517972,542104,503537,510325,515921,511027,501265,8406265
25,USA-MT,89193,87262,85097,80476,87059,84479,88272,90790,85383,83423,82375,76604,75647,72819,69898,71399,1310176
26,USA-NE,148592,163525,163557,147037,160922,163715,158712,165222,159682,153450,157078,151440,156093,159342,158216,152452,2519035
27,USA-NV,151765,151035,159646,152726,154767,154556,154557,161175,165984,167835,157603,156510,151839,142941,147135,142719,2472793
28,USA-NH,101092,97606,91993,81254,87549,88332,90635,87643,90060,88759,94247,95414,94823,86214,85267,84472,1445360
29,USA-NJ,581663,595383,582369,539255,575584,597861,590427,603310,619069,577510,640478,638817,644269,595379,577610,584741,9543725
30,USA-NM,117554,116568,122811,115608,120598,120211,115246,119981,119914,113558,116555,108410,103851,104371,103644,101161,1820041
31,USA-NY,1136630,1120654,1068620,1018476,1070428,1090036,1077880,1151130,1181763,1110969,1261240,1229562,1237747,1162205,1171065,1215507,18303912
32,USA-NC,689951,721521,689713,675461,737732,809923,735649,738227,729378,694427,723080,702291,670189,664367,628115,648027,11258051
33,USA-ND,69941,78388,73556,64157,68235,65622,68578,69389,64115,60253,61719,63861,64472,62852,61060,59883,1056081
34,USA-OH,894252,950116,912128,862710,939265,955534,931150,966677,968987,910059,1005745,969358,974330,956059,904332,949802,15050504
35,USA-OK,293942,325274,322711,290215,324911,327772,298584,306193,298363,293840,298958,288934,300533,305688,303309,307254,4886481
36,USA-OR,231718,245662,256170,245448,263871,245690,260038,258375,251259,253964,246372,237916,250003,248455,251058,258831,4004830
37,USA-PA,947988,970347,932734,864235,925964,947356,921633,1015088,965032,914636,1004006,990647,997975,950234,917138,950460,15215473
38,USA-RI,68000,65952,65695,59656,59994,62062,61306,60968,63969,63159,71827,75265,75470,66353,65572,65447,1050695
39,USA-SC,364063,376892,351342,339964,370071,403418,360640,367671,362460,355263,362504,359930,340897,337858,321856,333020,5707849
40,USA-SD,66496,73281,73373,65285,71328,71663,72356,72709,68100,65350,66389,63877,66062,65433,63127,61994,1086823
41,USA-TN,535307,562116,531182,498076,562714,604615,534400,562751,565271,542604,550425,518112,509244,516675,502921,508483,8604896
42,USA-TX,1689590,1709453,1683791,1600185,1745786,1686909,1589673,1583561,1548942,1461274,1491216,1427607,1473239,1522912,1455913,1463617,25133668
43,USA-UT,158734,159065,175123,160868,169658,163999,161452,163033,157073,155495,150153,148612,140733,144558,136191,135521,2480268
44,USA-VT,46200,44370,42169,37058,46988,48032,49573,43101,45451,45861,48462,47863,44918,42701,41638,41575,715960
45,USA-VA,611358,643200,625551,579679,633109,683534,638448,646132,658954,621584,669356,636262,612523,598347,561332,585409,10004778
46,USA-WA,450816,481639,494090,480801,511673,491326,515229,510424,488276,496164,470079,481146,468424,483890,508892,487412,7820281
47,USA-WV,161181,178596,173670,159444,171031,181872,172745,166585,163991,156513,162810,152448,148843,147589,144896,143681,2585895
48,USA-WI,417202,451637,443777,396686,427450,427714,428284,459749,450624,429998,470541,438563,444101,451873,418592,421838,6978629
49,USA-WY,47882,48016,49129,45136,49225,47532,47842,49371,47154,42969,42407,40914,41396,41447,38568,38783,717771
50,USA,20586614,21418142,21018102,19828618,21345572,21860325,21052360,21635346,21489150,20631559,21574410,21042686,21080842,20763207,20026646,20384790,335738369

In [3]:
#Pull up Commercial and Industrial Energy Consumption throughout 50 states (including USA totals) dataframe
# from CSV file
df_com = pd.read_csv ('../Resources/Commercial_Energy_Consumption.csv')
print (df_com)

     State     2015     2014     2013     2012     2011     2010     2009  \
0   USA-AL   263457   262497   256750   244919   257067   270504   257060
1   USA-AK    66983    63219    62922    69598    70816    66822    61825
2   USA-AZ   347477   342287   349984   343783   347514   333894   332909
3   USA-AR   179155   182202   176523   170147   174604   174500   164583
4   USA-CA  1462756  1432703  1430427  1488960  1538314  1510438  1514229
5   USA-CO   290564   284107   286702   277734   287990   287485   297449
6   USA-CT   199411   192330   188086   183405   184351   190625   187058
7   USA-DE    57364    57866    56940    56847    59093    63083    62977
8   USA-FL  1013873   975609   968255   957462   969582   990021  1007221
9   USA-GA   551841   549710   531508   537457   564498   581280   551528
10  USA-HI    41330    41137    40590    39187    41157    40111    40682
11  USA-ID    88995    86953    88008    83213    85263    82887    84725
12  USA-IL   793951   820930   804281   764697   788925   782120   801393
13  USA-IN   375685   390447   384892   360837   376554   383707   383796
14  USA-IA   201781   213526   215578   199224   207447   205816   207300
15  USA-KS   218880   214598   210269   208117   216339   215942   211803
16  USA-KY   265076   264088   284407   252137   253109   263973   257778
17  USA-LA   270292   268267   269079   277144   280565   281870   276975
18  USA-ME    67780    63256    58954    61109    63417    63308    63927
19  USA-MD   428556   426006   424653   419467   428190   431276   422597
20  USA-MA   404149   397975   303367   271658   278165   288717   272436
21  USA-MI   600388   624556   601182   580730   610380   593565   601694
22  USA-MN   350685   369255   357858   330208   341435   340230   347172
23  USA-MS   157667   162109   160217   149472   164068   164978   159303
24  USA-MO   414623   428847   411232   397734   413610   419978   412327
25  USA-MT    76458    78267    76910    75104    78153    75427    79731
26  USA-NE   137058   141582   140405   131885   135792   141106   138869
27  USA-NV   124431   120758   121677   118128   119870   117553   115460
28  USA-NH    72019    71056    69952    66272    66407    66146    67673
29  USA-NJ   596251   631418   607669   607156   635590   632896   633627
30  USA-NM   125176   125903   126204   125840   126817   123544   120498
31  USA-NY  1141606  1137388  1133300  1098242  1183095  1213503  1198763
32  USA-NC   579329   572879   556092   568242   578514   611241   596017
33  USA-ND    85931    82840    85645    73644    73134    66245    65382
34  USA-OH   709510   712983   694358   675730   711185   708546   698836
35  USA-OK   257724   265912   258068   244363   247487   247711   240565
36  USA-OR   185071   190038   191203   188021   195585   184968   193170
37  USA-PA   659057   654545   638827   610090   639055   685011   682692
38  USA-RI    49527    51615    48627    44074    43930    45788    46284
39  USA-SC   275551   268163   259414   259153   261752   274735   262520
40  USA-SD    63246    64416    65140    61297    62362    62989    62487
41  USA-TN   448326   435238   428390   361615   386872   399982   377043
42  USA-TX  1589588  1640247  1609908  1555722  1555071  1478788  1442759
43  USA-UT   162162   157655   163763   154839   157712   152550   148613
44  USA-VT    27659    26947    26019    22817    29071    28959    29273
45  USA-VA   615148   616786   611941   590764   607351   632228   617994
46  USA-WA   368730   376933   382777   375891   386416   382575   393779
47  USA-WV   113304   112858   112290   109889   111580   113690   111510
48  USA-WI   363419   381673   372997   342467   356773   354591   359540
49  USA-WY    62835    62483    63039    63907    67476    63532    62331

       2008     2007     2006     2005     2004     2003     2002     2001  \
0    271267   276430   268294   260757   257993   249280   250226   243613
1     64441    63076    67572    62403    63451    58567    60184    66274
2    342185   341414   333127   322978   313878   310692   311230   312480
3    166933   162806   158434   163193   153539   153730   151491   150150
4   1572133  1536055  1521164  1484593  1535683  1422511  1453641  1443700
5    302273   293354   294859   294962   292485   298307   307369   297225
6    195646   211813   195013   207783   207537   225273   209010   214170
7     61607    60347    57891    58749    57214    57000    58139    51981
8   1034041  1040386  1033460  1030708  1021070   994939   995300   951670
9    565938   564130   545052   544485   535357   504154   484042   491608
10    40866    40243    40680    39903    41261    37508    39356    36573
11    88180    86738    83480    81565    79109    77073   100877    95987
12   819296   799556   781663   779189   760412   791982   829762   826929
13   400046   377537   353824   367094   368962   369574   349170   392245
14   208446   199565   194015   185585   185431   194926   190061   183157
15   218785   213137   208437   207732   210599   209349   209746   203177
16   271067   274054   265352   272578   267063   261498   267887   251234
17   270098   284976   206674   232402   225990   220011   228120   218164
18    71271    70819    58709    64461    64047    63434    55324    53612
19   427712   431954   422570   296872   291768   288704   338900   393156
20   360264   367187   356049   378740   380967   385076   373896   368644
21   633298   642946   630761   659416   650648   619704   630008   612731
22   357340   349441   344310   349345   340532   359635   337080   321325
23   166310   174559   164695   164312   169664   173700   167994   155875
24   426449   416269   412668   417541   406966   399766   402708   405223
25    72933    70611    72971    70528    68664    69624    65749    63040
26   145822   140627   136717   134151   133495   131942   136943   134305
27   122539   124368   126244   120281   119144   116777   114184   109386
28    68326    69762    68970    76208    73636    72415    68997    66199
29   639790   652547   621617   654297   638074   610226   581672   557204
30   126755   127619   124580   126015   124480   122862   129406   124883
31  1237588  1223811  1242635  1325120  1424023  1366357  1338256  1314011
32   599662   589224   571317   571694   560585   536432   524006   511432
33    65787    62845    58615    59652    59380    58415    60115    55663
34   723277   722501   689611   729188   726271   712833   689577   690267
35   245216   243187   233027   231203   229612   228358   232207   235421
36   197597   195668   201049   192865   187972   198894   201075   203999
37   715123   721017   694773   721955   707832   702311   698797   662828
38    46082    49708    49144    51815    54875    55329    50271    49622
39   271439   269539   264977   259545   257578   247430   239889   237825
40    62833    61331    59185    59723    55792    56840    55239    52856
41   396016   399722   388678   390393   383812   376753   370809   371674
42  1387363  1338044  1274343  1290468  1205969  1227676  1267400  1250719
43   148046   145632   144928   147530   143832   137737   147503   139489
44    28564    29426    29542    30566    31941    30870    30321    28904
45   629998   632557   605948   617532   596856   572172   563707   549636
46   398325   384635   391356   373946   381536   375613   374230   403786
47   110088   108905   105501   107844   104543   104345   102332   104338
48   385921   374285   360101   381028   330059   341311   342745   323473
49    64011    61546    59390    55782    53449    52396    51132    50991

       2000  SubTotal
0    250773   4140887
1     69873   1038026
2    314579   5300411
3    146310   2628300
4   1354275  23701582
5    291783   4684648
6    220325   3211836
7     58864    935962
8    949471  15933068
9    492204   8594792
10    37282    637866
11   104645   1397698
12   839218  12784304
13   351134   5985504
14   174511   3166369
15   207289   3384199
16   253450   4224751
17   236971   4047598
18    57790   1001218
19   390490   6262871
20   381402   5568692
21   641254   9933261
22   236319   5432170
23   173554   2628477
24   401785   6587726
25    62718   1156888
26   136588   2197287
27   110213   1901013
28    65847   1109885
29   581258   9881292
30   123410   2003992
31  1342235  19919933
32   509470   9036136
33    48816   1062109
34   724617  11319290
35   231974   3872035
36   212101   3119276
37   705696  10899609
38    49255    785946
39   241425   4150935
40    46621    952357
41   374732   6290055
42  1280923  22394988
43   133972   2385963
44    27855    458734
45   557017   9617635
46   387764   6138292
47   105951   1738968
48   324718   5695101
49    48684    942984

In [4]:
#Pull up Commercial and Industrial Energy Consumption throughout 50 states (including USA totals) dataframe
# from CSV file
df_ind = pd.read_csv ('../Resources/Industrial_Energy_Consumption.csv')
print (df_ind)

     State     2015     2014     2013     2012     2011     2010     2009  \
0   USA-AL   823765   861143   850439   835514   804046   774098   711199
1   USA-AK   331209   330421   334286   339183   331420   326937   334430
2   USA-AZ   236211   236530   213634   220120   224978   208272   197015
3   USA-AR   377764   412848   412235   405144   421820   410689   365081
4   USA-CA  1849780  1859203  1884895  1747060  1784583  1740127  1713404
5   USA-CO   440348   431776   415087   421180   421232   455480   414088
6   USA-CT    78393    85921    88143    83352    86015    88602    87157
7   USA-DE    89074    87476    90725    92276    85081    50473    58909
8   USA-FL   491793   466723   479455   473873   478130   501511   466630
9   USA-GA   779445   781878   752752   726326   754966   758769   707159
10  USA-HI    64236    64558    65419    65113    67545    68068    69087
11  USA-ID   174169   178290   177849   180791   178557   181584   167397
12  USA-IL  1174958  1230456  1218054  1210146  1212331  1209919  1098458
13  USA-IN  1308315  1329615  1321379  1294839  1306008  1289953  1188829
14  USA-IA   769536   769088   755501   716038   741530   744629   696284
15  USA-KS   384005   378200   370686   375046   368196   370850   351945
16  USA-KY   641746   664891   716399   823208   818985   843351   823705
17  USA-LA  2744297  2770604  2724395  2799399  2843186  2832919  2738365
18  USA-ME   121923   133167   144030   146809   148899   147980   136647
19  USA-MD   113262   114943   110853   126566   138883   144505   149782
20  USA-MA   163503   165681   250494   249673   249307   248319   235768
21  USA-MI   717392   751963   738577   710521   711614   688886   610075
22  USA-MN   613589   672048   645479   646506   655032   653769   567541
23  USA-MS   392817   399721   400501   417467   410248   412619   375107
24  USA-MO   359310   364761   355291   356072   351055   366833   344659
25  USA-MT   126913   126940   127150   126589   121153   128301   146908
26  USA-NE   368044   363815   374881   382149   367974   351724   304598
27  USA-NV   164315   182936   170555   166621   164970   173174   171169
28  USA-NH    41806    43179    42820    40058    40228    39217    36822
29  USA-NJ   262799   259397   271076   274978   276945   271319   263184
30  USA-NM   226406   230243   220821   226028   223188   214491   210928
31  USA-NY   398455   395920   396149   356211   365370   359588   358775
32  USA-NC   556055   553177   568947   574109   570543   571832   525485
33  USA-ND   320481   337087   299009   283415   271952   244231   214200
34  USA-OH  1209932  1237748  1207619  1219035  1220053  1228308  1113115
35  USA-OK   603859   611563   591625   582289   561464   549876   510751
36  USA-OR   256145   254673   249829   246792   245348   233864   233887
37  USA-PA  1375933  1421780  1346038  1229353  1230648  1164665  1058098
38  USA-RI    24537    25257    25562    23138    22131    25010    24900
39  USA-SC   555959   554259   538971   536929   538266   528792   505762
40  USA-SD   155229   157162   156013   150733   151413   150462   138686
41  USA-TN   578143   598038   582326   630841   635923   631178   580137
42  USA-TX  6512803  6359978  6418640  6050511  5860322  5805989  5161411
43  USA-UT   227419   236054   243656   235311   220813   210259   200627
44  USA-VT    18052    20820    20533    21734    26619    28476    25750
45  USA-VA   451640   456915   447411   447246   447647   450713   445342
46  USA-WA   564554   577447   573658   582720   583244   578510   525488
47  USA-WV   320520   319722   296131   287038   290041   284427   255012
48  USA-WI   590833   609605   599666   579200   592831   594522   554453
49  USA-WY   284854   307999   314342   324199   328895   308548   294017

       2008     2007     2006     2005     2004     2003     2002     2001  \
0    876097   915657   933217   930987   941966   877629   857704   849465
1    317535   356533   353673   418115   389872   402842   411348   409960
2    232755   221076   226196   220120   224216   198138   204137   213987
3    421531   440996   441382   431591   435855   444429   456906   447636
4   1846322  1894789  1908391  1937656  1997588  1928700  1953103  2089449
5    412273   405162   396319   387747   376686   371668   356356   378721
6     81049   107395   111351   118448   116461   122066   107708   114029
7     90123    90639    92197    97921    95307   109899   113831   113066
8    518118   525469   551744   535556   530146   544761   531592   559778
9    777325   853354   881249   886636   919986   884294   931985   845079
10    65843    69038    71564    72369    68904    68832    70728    69465
11   189282   190130   186674   189493   191486   173676   167417   181630
12  1223259  1218749  1203382  1239192  1253519  1202139  1176302  1190442
13  1324342  1361509  1332223  1352389  1391281  1346427  1323190  1270441
14   671810   622407   571212   552069   530765   476168   488757   483224
15   380593   429736   385354   361515   407531   408336   391786   382177
16   885062   882116   899362   878069   875830   841653   877543   787157
17  2937526  2945527  2779273  2598298  2737592  2529739  2642970  2559118
18   179470   157167   146281   148753   152761   137634   174528   179885
19   173044   181135   183075   387946   388431   445783   383611   261263
20   165154   180817   188766   190079   188587   191359   246031   244358
21   733856   776944   826012   871859   872191   912084   844357   874319
22   633266   606103   584984   581408   584583   563178   538671   528344
23   410284   445625   439975   422722   444492   416761   412278   407846
24   398852   432211   442243   431867   406700   380177   388955   392723
25   175194   187098   164409   151302   145860   131699   135288   117451
26   308296   280401   256395   240774   238931   225230   212571   209486
27   182066   186774   197213   189095   181718   169033   161019   171342
28    42240    43603    46242    51690    54173    52118    47723    53319
29   316726   366890   365106   390565   386626   396163   425522   442134
30   229467   250591   227343   223823   226458   216061   200533   203276
31   398726   462574   428197   498522   505476   500466   540786   568554
32   604512   609637   644703   658670   670262   673158   686302   719342
33   215959   207398   205679   195652   189048   188843   190585   202747
34  1326567  1329481  1300671  1333999  1344785  1341018  1324264  1438376
35   569019   571534   590127   558679   546828   514573   485478   504366
36   267559   271861   284522   273642   265191   258023   276774   282086
37  1239043  1253631  1270527  1275709  1293449  1272803  1262316  1274008
38    26773    20887    23915    24289    24648    24422    22245    23277
39   564862   595322   627449   635388   646927   625626   634192   621217
40   130706   109344    98362    91969    82711    71586    63943    56746
41   713336   728427   752582   755357   750520   737143   734239   755091
42  5491399  6006890  6086623  6034756  6742684  6657950  6682014  6561397
43   216727   218417   218340   227682   210318   202061   181947   226033
44    24124    26619    28086    28137    29543    24674    25662    26465
45   519228   545606   549105   573677   564372   542319   520245   542576
46   526033   509658   567785   521097   476433   451507   434334   517309
47   339294   339520   319033   286005   298752   288385   323615   298767
48   617199   635263   637985   671736   687521   663451   674042   690360
49   301152   289111   253287   239560   241183   246317   236105   237914

       2000  SubTotal
0    990428  13833354
1    401675   5789439
2    225886   3503271
3    476543   6802450
4   2094271  30229321
5    312254   6396377
6    124719   1600809
7    112954   1469951
8    559871   8215150
9    911983  13153186
10    77944   1098713
11   205793   2914218
12  1250011  19311317
13  1340873  21081613
14   511871  10100889
15   399960   6145916
16   748869  13007946
17  2920857  44104065
18   202074   2458008
19   257315   3560397
20   241454   3399350
21   959870  12600520
22   631562   9706063
23   465604   6674067
24   373101   6144810
25   170683   2282938
26   206417   4691686
27   167933   2799933
28    57848    733086
29   411502   5380932
30   211854   3541511
31   609630   7143399
32   752283   9939017
33   192258   3758544
34  1614125  20789096
35   521933   8873964
36   344472   4244668
37  1287237  20255238
38    25933    386924
39   660947   9370868
40    69966   1835031
41   731073  10894354
42  6833893  99267260
43   254196   3529860
44    27250    402544
45   580574   8084616
46   746492   8736269
47   301593   4847855
48   712477  10111144
49   231442   4438925

In [5]:
#Merge 3 DataFrames together
df_merged = pd.merge(df_res, df_com, on="State", suffixes=(None, "_Com"))
df_merged

,State,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,2008_Com,2007_Com,2006_Com,2005_Com,2004_Com,2003_Com,2002_Com,2001_Com,2000_Com,SubTotal_Com
0,USA-AL,349230,378853,358238,338290,377607,419277,372781,388024,394481,...,271267,276430,268294,260757,257993,249280,250226,243613,250773,4140887
1,USA-AK,53136,47823,48810,54597,53939,52253,53536,53668,53742,...,64441,63076,67572,62403,63451,58567,60184,66274,69873,1038026
2,USA-AZ,385477,377963,389450,378865,391384,376625,373842,385383,394012,...,342185,341414,333127,322978,313878,310692,311230,312480,314579,5300411
3,USA-AR,228573,246790,241000,222034,247420,253858,226791,236545,232476,...,166933,162806,158434,163193,153539,153730,151491,150150,146310,2628300
4,USA-CA,1347807,1355062,1440463,1437024,1500559,1466657,1483981,1511586,1474374,...,1572133,1536055,1521164,1484593,1535683,1422511,1453641,1443700,1354275,23701582
5,USA-CO,347377,353334,363327,335025,354262,352304,339585,347873,343360,...,302273,293354,294859,294962,292485,298307,307369,297225,291783,4684648
6,USA-CT,251763,248119,245613,232769,238420,251419,253184,255114,265629,...,195646,211813,195013,207783,207537,225273,209010,214170,220325,3211836
7,USA-DE,65665,66613,64890,62032,67909,72461,68693,68574,67885,...,61607,60347,57891,58749,57214,57000,58139,51981,58864,935962
8,USA-FL,1207549,1177125,1147013,1128534,1191486,1271713,1223002,1216701,1254926,...,1034041,1040386,1033460,1030708,1021070,994939,995300,951670,949471,15933068
9,USA-GA,697029,741983,686812,671729,747018,819871,726627,737925,735842,...,565938,564130,545052,544485,535357,504154,484042,491608,492204,8594792
10,USA-HI,31575,31411,30848,31530,32506,32681,33307,33424,34100,...,40866,40243,40680,39903,41261,37508,39356,36573,37282,637866
11,USA-ID,122911,119891,127028,116608,125277,120873,127606,135832,129055,...,88180,86738,83480,81565,79109,77073,100877,95987,104645,1397698
12,USA-IL,924266,1031197,1010009,914300,979617,996827,975665,1028137,1002463,...,819296,799556,781663,779189,760412,791982,829762,826929,839218,12784304
13,USA-IN,535028,582543,568875,520078,557600,582485,559092,591028,578370,...,400046,377537,353824,367094,368962,369574,349170,392245,351134,5985504
14,USA-IA,226772,253915,253076,224008,246130,248952,246364,255649,243620,...,208446,199565,194015,185585,185431,194926,190061,183157,174511,3166369
15,USA-KS,221062,240294,235849,220969,245306,248133,239277,243850,235114,...,218785,213137,208437,207732,210599,209349,209746,203177,207289,3384199
16,USA-KY,360090,393758,384758,361536,383276,412687,383700,393573,394040,...,271067,274054,265352,272578,267063,261498,267887,251234,253450,4224751
17,USA-LA,333489,348374,343054,338452,370693,385695,352891,346724,346312,...,270098,284976,206674,232402,225990,220011,228120,218164,236971,4047598
18,USA-ME,107361,91333,85261,81138,87784,88685,90440,88142,97232,...,71271,70819,58709,64461,64047,63434,55324,53612,57790,1001218
19,USA-MD,424674,439759,428305,399741,418905,451072,425624,424491,435429,...,427712,431954,422570,296872,291768,288704,338900,393156,390490,6262871
20,USA-MA,435996,438255,422121,404710,424840,436772,424479,431545,424374,...,360264,367187,356049,378740,380967,385076,373896,368644,381402,5568692
21,USA-MI,741964,788442,772246,701252,763365,751519,755420,807710,813578,...,633298,642946,630761,659416,650648,619704,630008,612731,641254,9933261
22,USA-MN,379916,431646,416410,372940,398746,400267,407148,420462,413803,...,357340,349441,344310,349345,340532,359635,337080,321325,236319,5432170
23,USA-MS,196603,217710,210980,194273,229193,240392,221214,228469,232324,...,166310,174559,164695,164312,169664,173700,167994,155875,173554,2628477
24,USA-MO,497757,559922,536912,491678,540462,564089,528348,549275,535671,...,426449,416269,412668,417541,406966,399766,402708,405223,401785,6587726
25,USA-MT,89193,87262,85097,80476,87059,84479,88272,90790,85383,...,72933,70611,72971,70528,68664,69624,65749,63040,62718,1156888
26,USA-NE,148592,163525,163557,147037,160922,163715,158712,165222,159682,...,145822,140627,136717,134151,133495,131942,136943,134305,136588,2197287
27,USA-NV,151765,151035,159646,152726,154767,154556,154557,161175,165984,...,122539,124368,126244,120281,119144,116777,114184,109386,110213,1901013
28,USA-NH,101092,97606,91993,81254,87549,88332,90635,87643,90060,...,68326,69762,68970,76208,73636,72415,68997,66199,65847,1109885
29,USA-NJ,581663,595383,582369,539255,575584,597861,590427,603310,619069,...,639790,652547,621617,654297,638074,610226,581672,557204,581258,9881292
30,USA-NM,117554,116568,122811,115608,120598,120211,115246,119981,119914,...,126755,127619,124580,126015,124480,122862,129406,124883,123410,2003992
31,USA-NY,1136630,1120654,1068620,1018476,1070428,1090036,1077880,1151130,1181763,...,1237588,1223811,1242635,1325120,1424023,1366357,1338256,1314011,1342235,19919933
32,USA-NC,689951,721521,689713,675461,737732,809923,735649,738227,729378,...,599662,589224,571317,571694,560585,536432,524006,511432,509470,9036136
33,USA-ND,69941,78388,73556,64157,68235,65622,68578,69389,64115,...,65787,62845,58615,59652,59380,58415,60115,55663,48816,1062109
34,USA-OH,894252,950116,912128,862710,939265,955534,931150,966677,968987,...,723277,722501,689611,729188,726271,712833,689577,690267,724617,11319290
35,USA-OK,293942,325274,322711,290215,324911,327772,298584,306193,298363,...,245216,243187,233027,231203,229612,228358,232207,235421,231974,3872035
36,USA-OR,231718,245662,256170,245448,263871,245690,260038,258375,251259,...,197597,195668,201049,192865,187972,198894,201075,203999,212101,3119276
37,USA-PA,947988,970347,932734,864235,925964,947356,921633,1015088,965032,...,715123,721017,694773,721955,707832,702311,698797,662828,705696,10899609
38,USA-RI,68000,65952,65695,59656,59994,62062,61306,60968,63969,...,46082,49708,49144,51815,54875,55329,50271,49622,49255,785946
39,USA-SC,364063,376892,351342,339964,370071,403418,360640,367671,362460,...,271439,269539,264977,259545,257578,247430,239889,237825,241425,4150935
40,USA-SD,66496,73281,73373,65285,71328,71663,72356,72709,68100,...,62833,61331,59185,59723,55792,56840,55239,52856,46621,952357
41,USA-TN,535307,562116,531182,498076,562714,604615,534400,562751,565271,...,396016,399722,388678,390393,383812,376753,370809,371674,374732,6290055
42,USA-TX,1689590,1709453,1683791,1600185,1745786,1686909,1589673,1583561,1548942,...,1387363,1338044,1274343,1290468,1205969,1227676,1267400,1250719,1280923,22394988
43,USA-UT,158734,159065,175123,160868,169658,163999,161452,163033,157073,...,148046,145632,144928,147530,143832,137737,147503,139489,133972,2385963
44,USA-VT,46200,44370,42169,37058,46988,48032,49573,43101,45451,...,28564,29426,29542,30566,31941,30870,30321,28904,27855,458734
45,USA-VA,611358,643200,625551,579679,633109,683534,638448,646132,658954,...,629998,632557,605948,617532,596856,572172,563707,549636,557017,9617635
46,USA-WA,450816,481639,494090,480801,511673,491326,515229,510424,488276,...,398325,384635,391356,373946,381536,375613,374230,403786,387764,6138292
47,USA-WV,161181,178596,173670,159444,171031,181872,172745,166585,163991,...,110088,108905,105501,107844,104543,104345,102332,104338,105951,1738968
48,USA-WI,417202,451637,443777,396686,427450,427714,428284,459749,450624,...,385921,374285,360101,381028,330059,341311,342745,323473,324718,5695101
49,USA-WY,47882,48016,49129,45136,49225,47532,47842,49371,47154,...,64011,61546,59390,55782,53449,52396,51132,50991,48684,942984

In [8]:
#Create new DataFRame with just subtotals per sector
subtotal_df = df_merged[["State", "SubTotal_Res", "SubTotal_Com", "SubTotal_Ind"]]
subtotal_df["Total"]=(subtotal_df["SubTotal_Res"]+subtotal_df["SubTotal_Com"]+subtotal_df["SubTotal_Ind"])
subtotal_df = subtotal_df.sort_values("Total")
subtotal_df

KeyError: "['SubTotal_Res', 'SubTotal_Ind'] not in index"

In [ ]:
#Create a stacked bar chart to visualize energy consumption by sector per state

plt.figure(figsize=(20,15))

width = 0.35       # the width of the bars: can also be len(x) sequence
p1 = plt.bar(subtotal_df["State"], subtotal_df["SubTotal_Res"], width)
p2 = plt.bar(subtotal_df["State"], subtotal_df["SubTotal_Com"], width)
p3 = plt.bar(subtotal_df["State"], subtotal_df["SubTotal_Ind"], width)

plt.ylabel('Consumption')
plt.title('Energy Consumption by Sector per State')
plt.xticks(rotation='vertical')
plt.ylim(0,90000000)
# plt.yticks(np.arange(0, 81, 10))
plt.legend((p1[0], p2[0], p3[0]), ('Residential Sector', 'Commercial Sector', 'Industrial Sector' ))
#Save the figure
plt.savefig('../Figures/Energy_Consumption_Sector_State.png')
plt.show()

# Total Energy Consumption in the US from 2000 - 2015

In [ ]:
#Pull in total energy data files.  Need USA totals, so use the 'uncleaned files'
residential_df = pd.read_csv("../Resources/Residential_Energy_Consumption.csv")
commercial_df = pd.read_csv("../Resources/Commercial_Energy_Consumption.csv")
industrial_df = pd.read_csv("../Resources/Industrial_Energy_Consumption.csv")

In [ ]:
#Set State column as Index
residential_df.set_index("State", inplace = True)
commercial_df.set_index("State", inplace = True)
industrial_df.set_index("State", inplace = True)

In [ ]:
#Get residential energy consumption from residential
res_US = residential_df.loc[residential_df.index == "USA"]
res_US_T = res_US.T
res_US_T.sort_index(inplace = True,ascending=True)
res_US_T

In [ ]:
#Get commercial energy consumption from USA
com_US = commercial_df.loc[commercial_df.index == "USA"]
com_US_T = com_US.T
com_US_T.sort_index(inplace = True,ascending=True)
com_US_T

In [ ]:
#Combine the two dataframes
combined_df = pd.merge(res_US_T, com_US_T, left_index = True, right_index = True)
combined_df

In [ ]:
#Get industrial energy from USA
ind_US = industrial_df.loc[industrial_df.index == "USA"]
ind_US_T = ind_US.T
ind_US_T.sort_index(inplace = True,ascending=True)
ind_US_T

In [ ]:
#Merge data frames
combined_df = pd.merge(combined_df, ind_US_T, left_index = True, right_index = True)
final_combined_df= combined_df.rename(columns = {'USA_x': 'Total Residential', "USA_y":"Total Commercial", "USA": "Total Industrial"})
final_combined_df

In [ ]:
#Sum up the individual sectors to get total consumption
final_combined_df["Total Consumption"] = final_combined_df["Total Residential"] + final_combined_df["Total Commercial"] + final_combined_df["Total Industrial"]

final_combined_df

In [ ]:
final_combined_df.describe()

In [ ]:
final_combined_df.plot(kind = "line", title = "Total Energy Consumption Across Three Sectors")
plt.xlabel("Year")
plt.ylabel("Consumption (Billion BTUs)")
plt.savefig("Figures/Fig1.png")
plt.show()

In [ ]:
total_consumption = final_combined_df["Total Consumption"]

total_consumption.plot(kind="line", title ="Total Energy Consumption Across Three Sectors", color = 'r')
plt.xlabel("Year")
plt.ylabel("Consumption (Billion BTUs)")
# plt.savefig("images/Fig2.png")
plt.show()

In [ ]:
sectors_combined_df = final_combined_df.drop(columns = ['Total Consumption'])
sectors_combined_df.plot(kind="line", title ="Total Energy Consumption Across Three Sectors")
plt.xlabel("Year")
plt.ylabel("Consumption (Billion BTUs)")
# plt.savefig("images/Fig4.png")
plt.show()

In [ ]:
sectors_combined_df["Total Residential"] /= 1000000
sectors_combined_df["Total Commercial"] /= 1000000
sectors_combined_df["Total Industrial"] /= 1000000
sectors_combined_df

In [ ]:
sectors_combined_df.plot(kind = "area", title = "Total Energy Consumption Across Three Sectors")
plt.xlabel("Year")
plt.ylabel("Consumption (Billion BTUs x10^6)")
# plt.savefig("images/tot_energy_area.png")
plt.show()

In [ ]:
#Pie chart
residential_sum = final_combined_df["Total Residential"].sum()
commercial_sum =final_combined_df["Total Commercial"].sum()
industrial_sum = final_combined_df["Total Industrial"].sum()

# Labels for the sections of our pie chart
labels = ["Residential", "Commercial", "Industrial"]

# The values of each section of the pie chart
sizes = [residential_sum, commercial_sum, industrial_sum]

# The colors of each section of the pie chart
colors = ["blue", "orange", "green"]

plt.pie(sizes, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=140)
plt.title("Sectors Contributing to Total Energy Consumption in the USA")
plt.axis("equal")
# plt.savefig("images/Fig5.png")
plt.show()

# CO2 Emissions

In [ ]:
#Get data from csv files
co2_residential_df = pd.read_csv("../Resources/residential_c02.csv")
co2_commercial_df = pd.read_csv("../Resources/commercial_c02.csv")
co2_industrial_df = pd.read_csv("../Resources/industrial_c02.csv")

In [ ]:
co2_commercial_df.dtypes

In [ ]:
#Set 'States' as index
co2_residential_df.set_index("States", inplace = True)
co2_commercial_df.set_index("States", inplace = True)
co2_industrial_df.set_index("States", inplace = True)

#Sum values over each year column
sum_co2_residential = co2_residential_df.sum(axis=0)
sum_co2_commercial = co2_commercial_df.sum(axis=0)
sum_co2_industrial = co2_industrial_df.sum(axis=0)

In [ ]:
years = list(co2_residential_df.columns)
combined_em_df = pd.DataFrame({"Total Residential": sum_co2_residential,
                           "Total Commercial": sum_co2_commercial,
                           "Total Industrial": sum_co2_industrial})
combined_em_df["Total Emissions"] = combined_em_df["Total Residential"] + combined_em_df["Total Commercial"] + combined_em_df["Total Industrial"]
combined_em_df.dropna(inplace = True)
combined_em_df.dtypes

In [ ]:
combined_em_df.plot(kind = "line", title = "Total CO2 Emissions Across Three Sectors")
plt.xlabel("Year")
plt.ylabel("CO2 Emissions (million metric tons C02)")
# plt.savefig("images/Fig6.png")
plt.show()

In [ ]:
total_emissions = combined_em_df["Total Emissions"]

total_emissions.plot(kind="line", title ="Total CO2 Emissions", color = 'r')
plt.xlabel("Year")
plt.ylabel("CO2 Emissions (million metric tons C02)")
# plt.savefig("images/Fig7.png")
plt.show()

In [ ]:
em_sectors_combined_df = combined_em_df.drop(columns = ['Total Emissions'])
em_sectors_combined_df.plot(kind="line", title ="Total CO2 Emissions Across Three Sectors")
plt.xlabel("Year")
plt.ylabel("CO2 Emissions (million metric tons C02)")
# plt.savefig("images/Fig8.png")
plt.show()

In [ ]:
em_sectors_combined_df = combined_em_df.drop(columns = ['Total Emissions'])
em_sectors_combined_df.plot(kind="area", title ="Total CO2 Emissions Across Three Sectors")
plt.xlabel("Year")
plt.ylabel("CO2 Emissions (million metric tons C02)")
# plt.savefig("images/Fig9.png")
plt.show()

In [ ]:
#Pie chart
em_residential_sum = combined_em_df["Total Residential"].sum()
em_commercial_sum =combined_em_df["Total Commercial"].sum()
em_industrial_sum = combined_em_df["Total Industrial"].sum()

# Labels for the sections of our pie chart
labels = ["Residential", "Commercial", "Industrial"]

# The values of each section of the pie chart
sizes = [em_residential_sum, em_commercial_sum, em_industrial_sum]

# The colors of each section of the pie chart
colors = ["blue", "orange", "green"]

plt.pie(sizes, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=140)
plt.title("Sectors Contributing to CO2 Emissions in the USA")
plt.axis("equal")
# plt.savefig("images/Fig10.png")
plt.show()

# Total Energy Consumption and CO2 emission relationships

In [ ]:
#Create df for scatter plot
total_energy_co2_df = pd.DataFrame({"Total Consumption": total_consumption, "Total Emissions": total_emissions})

In [ ]:
total_energy_co2_df.plot(kind = "scatter", x="Total Consumption", y="Total Emissions", title = "CO2 Emissions by Total Energy Consumption")
plt.show()

In [ ]:
#import lineregress
from scipy.stats import linregress

In [ ]:
x_values = total_energy_co2_df['Total Consumption']
y_values = total_energy_co2_df['Total Emissions']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_values,y_values)
plt.plot(x_values,regress_values,"r-") #red solid line
plt.annotate(line_eq,(69729825,1420),fontsize=15,color="red")
plt.xlabel('Total Energy Consumption')
plt.ylabel('Total CO2 emissions')
plt.ylim(1400, 1750)
print(f"The r-squared is: {round(rvalue**2,2)}")
print(f"The actual slope is: {slope}")
# plt.savefig("images/Fig11.png")
plt.show()

In [ ]:
x_values = total_energy_co2_df['Total Consumption']/1000000
y_values = total_energy_co2_df['Total Emissions']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_values,y_values)
plt.plot(x_values,regress_values,"r-") #red solid line
plt.annotate(line_eq,(69,1420),fontsize=15,color="red")
plt.xlabel('Total Energy Consumption (Billion BTU x 10^6)')
plt.ylabel('Total CO2 emissions')
rsquare = round(rvalue**2,2)
plt.annotate(f"r-squared = {rsquare}", (67.5,1700), fontsize=12)
#plt.ylim(1400, 1750)
print(f"The r-squared is: {round(rvalue**2,2)}")

# plt.savefig("images/totenergy_co2_regress.png")
plt.show()

# Solar Energy Consumption

In [ ]:
#Pull in solar energy data files.  Need USA totals, so use the 'uncleaned files'
residential_solar_df = pd.read_csv("../Resources/residential_solar_data.csv")
commercial_solar_df = pd.read_csv("../Resources/commercial_solar_data.csv")
industrial_solar_df = pd.read_csv("../Resources/industrial_solar_data.csv")

In [ ]:
#Set State column as Index
residential_solar_df.set_index("State", inplace = True)
commercial_solar_df.set_index("State", inplace = True)
industrial_solar_df.set_index("State", inplace = True)

In [ ]:
res_solar_US = residential_solar_df.loc[residential_solar_df.index == "USA"]
res_solar_US_T = res_solar_US.T
res_solar_US_T.sort_index(inplace = True,ascending=True)
res_solar_US_T

In [ ]:
#Get commercial energy consumption from USA
com_solar_US = commercial_solar_df.loc[commercial_solar_df.index == "USA"]
com_solar_US_T = com_solar_US.T
com_solar_US_T.sort_index(inplace = True,ascending=True)
com_solar_US_T

In [ ]:
#Get industrial energy from USA
ind_solar_US = industrial_solar_df.loc[industrial_solar_df.index == "USA"]
ind_solar_US_T = ind_solar_US.T
ind_solar_US_T.sort_index(inplace = True,ascending=True)
ind_solar_US_T

In [ ]:
#Combine the two dataframes
combined_solar_df = pd.merge(res_solar_US_T, com_solar_US_T, left_index = True, right_index = True)
combined_solar_df

In [ ]:
#Merge data frames
combined_solar_df = pd.merge(combined_solar_df, ind_solar_US_T, left_index = True, right_index = True)
final_combined_solar_df= combined_solar_df.rename(columns = {'USA_x': 'Total Residential', "USA_y":"Total Commercial", "USA": "Total Industrial"})
final_combined_solar_df.drop(["2016","2017","2018"], inplace = True)
final_combined_solar_df

In [ ]:
final_combined_solar_df.plot(kind="area", title ="Total Solar Energy Consumption Across Three Sectors",)
plt.xlabel("Year")
plt.ylabel("Solar Energy Consumption (Billion BTU)")
# plt.savefig("images/solar_area.png", bbox_inches = "tight")

plt.show()

In [ ]:
final_combined_solar_df.plot(kind="line", title ="Total Solar Energy Consumption Across Three Sectors")
plt.xlabel("Year")
plt.ylabel("Solar Energy Consumption (Billion BTU)")
# plt.savefig("images/Fig13.png")
plt.show()

In [ ]:
#Sum up the individual sectors to get total consumption
total_combined_solar_df = final_combined_solar_df.copy()
total_combined_solar_df["Total Consumption"] = total_combined_solar_df["Total Residential"] + total_combined_solar_df["Total Commercial"] + total_combined_solar_df["Total Industrial"]
total_combined_solar_df

In [ ]:
total_combined_solar_df.plot(kind="line", title ="Total Solar Energy Consumption Across Three Sectors")
plt.xlabel("Year")
plt.ylabel("Solar Energy Consumption (Billion BTU)")
# plt.savefig("images/Fig14.png")
plt.show()

In [ ]:
total_solar_consumption = total_combined_solar_df["Total Consumption"]

total_consumption.plot(kind="line", title ="Total Solar Energy Consumption Across Three Sectors", color = 'r')
plt.xlabel("Year")
plt.ylabel("Consumption (Billion BTUs)")
# plt.savefig("images/Fig15.png")
plt.show()

In [ ]:
#Pie chart
residential_solar_sum = final_combined_solar_df["Total Residential"].sum()
commercial_solar_sum =final_combined_solar_df["Total Commercial"].sum()
industrial_solar_sum = final_combined_solar_df["Total Industrial"].sum()

# Labels for the sections of our pie chart
labels = ["Residential", "Commercial", "Industrial"]

# The values of each section of the pie chart
sizes = [residential_solar_sum, commercial_solar_sum, industrial_solar_sum]

# The colors of each section of the pie chart
colors = ["blue", "orange", "green"]

plt.pie(sizes, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=140)
plt.title("Sectors Contributing to Solar Energy Consumption in the USA")
plt.axis("equal")
# plt.savefig("images/Fig16.png")
plt.show()

# Solar Energy Consumption Across the 50 States

In [ ]:
st_residential_solar_df = pd.read_csv("../Resources/cleaned_solar_residential.csv")
st_commercial_solar_df = pd.read_csv("../Resources/cleaned_solar_commercial.csv")
st_industrial_solar_df = pd.read_csv("../Resources/cleaned_solar_industrial.csv")

In [ ]:
#st_residential_solar_df.set_index("State", inplace = True)

st_residential_solar_df
list(st_residential_solar_df.columns)
cleaned_st_residential_solar_df = st_residential_solar_df.drop(columns = ["Unnamed: 0"])
cleaned_st_residential_solar_df

In [ ]:
#Focus on residential since it makes up ~80% of the consumption
df=cleaned_st_residential_solar_df[["2000","2001", "2002","2003","2004","2005", "2006","2007","2008", "2009","2010",
                                 "2011","2012", "2013","2014","2015"]]
boxplot = df.boxplot(figsize=[15.0, 6.0])

plt.title("Distribution of Solar Energy Consumpton per State form 2000-2015")
plt.ylabel("Solar Energy Consumption (Billion BTU)")
# plt.savefig("images/Fig17.png")
plt.show()

In [ ]:
df["2015"].sort_values(ascending = False)
#three highest states = CA, FL, AZ
#three lowest states = AK, SD, ND

In [ ]:
df["2015"].median()
#three states around median are: 43 (UT),9(GA),45(VT)

# Analysis of the 3 States with the Highest and Lowest Solar Energy Consumption

In [ ]:
#Pull in total energy data files
residential_df = pd.read_csv("../Resources/cleaned_Residential_Energy.csv")
commercial_df = pd.read_csv("../Resources/cleaned_Commercial_Energy.csv")
industrial_df = pd.read_csv("../Resources/cleaned_Industrial_Energy.csv")

In [ ]:
residential_df.drop(columns=["Unnamed: 0"], inplace = True)
commercial_df.drop(columns=["Unnamed: 0"], inplace = True)
industrial_df.drop(columns=["Unnamed: 0"], inplace = True)

In [ ]:
#Set State column as Index
residential_df.set_index("State", inplace = True)
commercial_df.set_index("State", inplace = True)
industrial_df.set_index("State", inplace = True)

In [ ]:
#Transpose Data
t_residential_df = residential_df.T
t_commercial_df = commercial_df.T
t_industrial_df = industrial_df.T

In [ ]:
t_residential_df.sort_index(inplace = True,ascending=True)
t_commercial_df.sort_index(inplace = True,ascending=True)
t_industrial_df.sort_index(inplace = True,ascending=True)

In [ ]:
t_industrial_df

#3 highest states = CA, FL, AZ
#3 lowest states = AK, SD, ND

## Analysis of the 3 States with Highest Solar Energy Consumption (CA, FL, AZ)

In [ ]:
CA_res = t_residential_df["USA-CA"]
CA_com = t_commercial_df["USA-CA"]
CA_ind = t_industrial_df["USA-CA"]

In [ ]:
CA_combined = pd.merge(CA_res, CA_com, left_index = True, right_index = True)
CA_final = pd.merge(CA_combined, CA_ind,left_index = True, right_index = True)
CA_final.columns = ["Residential", "Commercial", "Industrial"]
CA_final["Total Consumption"] = CA_final.sum(axis = 1)
CA_final

In [ ]:
co2_residential_df = pd.read_csv("../Resources/residential_c02.csv")
co2_commercial_df = pd.read_csv("../Resources/commercial_c02.csv")
co2_industrial_df = pd.read_csv("../Resources/industrial_c02.csv")

In [ ]:
#Set 'States' as index
co2_residential_df.set_index("States", inplace = True)
co2_commercial_df.set_index("States", inplace = True)
co2_industrial_df.set_index("States", inplace = True)

In [ ]:
#Transpose dfs
t_co2_residential_df = co2_residential_df.T
t_co2_commercial_df =co2_commercial_df.T
t_co2_industrial_df = co2_industrial_df.T

In [ ]:
CA_co2_res = t_co2_residential_df["CA"]
CA_co2_com = t_co2_commercial_df["CA"]
CA_co2_ind = t_co2_industrial_df["CA"]

In [ ]:
CA_co2_combined = pd.merge(CA_co2_res, CA_co2_com, left_index = True, right_index = True)
CA_co2_final = pd.merge(CA_co2_combined, CA_co2_ind,left_index = True, right_index = True)
CA_co2_final.columns = ["Residential", "Commercial", "Industrial"]
CA_co2_final["Total Emissions"] = CA_co2_final.sum(axis = 1)
CA_co2_final

In [ ]:
def regression(x_values, y_values):
    (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
    regress_values = x_values * slope + intercept
    line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
    print(f"The r-squared is: {round(rvalue**2,3)}")
    plt.scatter(x_values,y_values)
    plt.plot(x_values,regress_values,"r-")
    return line_eq, rvalue

In [ ]:
CA_x = CA_final["Total Consumption"]/100000
CA=regression(CA_x, CA_co2_final["Total Emissions"])
plt.title("CO2 emission by Total Energy Consumption in CA")
plt.xlabel('Total Energy Consumption (Billon BTU x 10^6)')
plt.ylabel('Total CO2 emissions (million tons CO2)')
plt.annotate(CA[0],(48,105.5),fontsize=15,color="red")
rsquare = round(CA[1]**2,3)
plt.annotate(f"r-squared = {rsquare}", (46.6,114), fontsize=12)
# plt.savefig("../images/CA_regress.png")
plt.show()

In [ ]:
FL_res = t_residential_df["USA-FL"]
FL_com = t_commercial_df["USA-FL"]
FL_ind = t_industrial_df["USA-FL"]
FL_combined = pd.merge(FL_res, FL_com, left_index = True, right_index = True)
FL_final = pd.merge(FL_combined, FL_ind,left_index = True, right_index = True)
FL_final.columns = ["Residential", "Commercial", "Industrial"]
FL_final["Total Consumption"] = FL_final.sum(axis = 1)
FL_final

In [ ]:
FL_co2_res = t_co2_residential_df["FL"]
FL_co2_com = t_co2_commercial_df["FL"]
FL_co2_ind = t_co2_industrial_df["FL"]

FL_co2_combined = pd.merge(FL_co2_res, FL_co2_com, left_index = True, right_index = True)
FL_co2_final = pd.merge(FL_co2_combined, FL_co2_ind,left_index = True, right_index = True)
FL_co2_final.columns = ["Residential", "Commercial", "Industrial"]
FL_co2_final["Total Emissions"] = FL_co2_final.sum(axis = 1)
FL_co2_final

In [ ]:
FL_x = FL_final["Total Consumption"]/1000000
FL=regression(FL_x, FL_co2_final["Total Emissions"])
plt.title("CO2 emission by Total Energy Consumption in FL")
plt.xlabel('Total Energy Consumption (billion BTU x 10^6)')
plt.ylabel('Total CO2 Emissions (million tons CO2)')
plt.annotate(FL[0],(2.72,15.5),fontsize=15,color="red")
rsquare = round(FL[1]**2,3)
plt.annotate(f"r-squared = {rsquare}", (2.55,19.5), fontsize=12)
# plt.savefig("../images/FL_reg.png")
plt.show()

In [ ]:
AZ_res = t_residential_df["USA-AZ"]
AZ_com = t_commercial_df["USA-AZ"]
AZ_ind = t_industrial_df["USA-AZ"]
AZ_combined = pd.merge(AZ_res, AZ_com, left_index = True, right_index = True)
AZ_final = pd.merge(AZ_combined, AZ_ind,left_index = True, right_index = True)
AZ_final.columns = ["Residential", "Commercial", "Industrial"]
AZ_final["Total Consumption"] = AZ_final.sum(axis = 1)
AZ_final

In [ ]:
AZ_co2_res = t_co2_residential_df["AZ"]
AZ_co2_com = t_co2_commercial_df["AZ"]
AZ_co2_ind = t_co2_industrial_df["AZ"]

AZ_co2_combined = pd.merge(AZ_co2_res, AZ_co2_com, left_index = True, right_index = True)
AZ_co2_final = pd.merge(AZ_co2_combined, AZ_co2_ind,left_index = True, right_index = True)
AZ_co2_final.columns = ["Residential", "Commercial", "Industrial"]
AZ_co2_final["Total Emissions"] = AZ_co2_final.sum(axis = 1)
AZ_co2_final

In [ ]:
AZ_x = AZ_final["Total Consumption"]/1000000
AZ=regression(AZ_x, AZ_co2_final["Total Emissions"])
plt.title("CO2 emission by Total Energy Consumption in AZ")
plt.xlabel('Total Energy Consumption (billion BTU x10^6)')
plt.ylabel('Total CO2 emissions (million tons CO2)')
plt.annotate(AZ[0],(0.9,7.8),fontsize=15,color="red")
rsquare = round(AZ[1]**2,3)
plt.annotate(f"r-squared = {rsquare}", (0.86,9.5), fontsize=12)
# plt.savefig("../images/AZ_reg.png")
plt.show()

r-squared USA total = 0.52 CA r-squared = 0.4952 FL r-squared = 0.205 AZ r-squared = 0.46 For the 3 states with the highest solar energy consumption, their r2 is < that for all of USA (although CA and AZ probably aren't significantly different).

## Analysis of the 3 States with Lowest Solar Energy Consumption (AK, SD, ND)

In [ ]:
AK_res = t_residential_df["USA-AK"]
AK_com = t_commercial_df["USA-AK"]
AK_ind = t_industrial_df["USA-AK"]
AK_combined = pd.merge(AK_res, AK_com, left_index = True, right_index = True)
AK_final = pd.merge(AK_combined, AK_ind,left_index = True, right_index = True)
AK_final.columns = ["Residential", "Commercial", "Industrial"]
AK_final["Total Consumption"] = AK_final.sum(axis = 1)
AK_final

In [ ]:
AK_co2_res = t_co2_residential_df["AK"]
AK_co2_com = t_co2_commercial_df["AK"]
AK_co2_ind = t_co2_industrial_df["AK"]

AK_co2_combined = pd.merge(AK_co2_res, AK_co2_com, left_index = True, right_index = True)
AK_co2_final = pd.merge(AK_co2_combined, AK_co2_ind,left_index = True, right_index = True)
AK_co2_final.columns = ["Residential", "Commercial", "Industrial"]
AK_co2_final["Total Emissions"] = AK_co2_final.sum(axis = 1)
AK_co2_final

In [ ]:
AK_x = AK_final["Total Consumption"]/1000000
AK=regression(AK_x, AK_co2_final["Total Emissions"])
plt.title("CO2 emission by Total Energy Consumption in AK")
plt.xlabel('Total Energy Consumption (billion BTU x10^6)')
plt.ylabel('Total CO2 emissions (million tons CO2)')
plt.annotate(AK[0],(0.48,21),fontsize=15,color="red")
rsquare = round(AK[1]**2,3)
plt.annotate(f"r-squared = {rsquare}", (0.44,25), fontsize=12)
#plt.savefig("../images/AK_reg.png")
plt.show()

In [ ]:
SD_res = t_residential_df["USA-SD"]
SD_com = t_commercial_df["USA-SD"]
SD_ind = t_industrial_df["USA-SD"]
SD_combined = pd.merge(SD_res, SD_com, left_index = True, right_index = True)
SD_final = pd.merge(SD_combined, SD_ind,left_index = True, right_index = True)
SD_final.columns = ["Residential", "Commercial", "Industrial"]
SD_final["Total Consumption"] = SD_final.sum(axis = 1)
SD_final

In [ ]:
SD_co2_res = t_co2_residential_df["SD"]
SD_co2_com = t_co2_commercial_df["SD"]
SD_co2_ind = t_co2_industrial_df["SD"]

SD_co2_combined = pd.merge(SD_co2_res, SD_co2_com, left_index = True, right_index = True)
SD_co2_final = pd.merge(SD_co2_combined, SD_co2_ind,left_index = True, right_index = True)
SD_co2_final.columns = ["Residential", "Commercial", "Industrial"]
SD_co2_final["Total Emissions"] = SD_co2_final.sum(axis = 1)
SD_co2_final

In [ ]:
SD_x=SD_final["Total Consumption"]/1000000
SD=regression(SD_x, SD_co2_final["Total Emissions"])
plt.title("CO2 emission by Total Energy Consumption in SD")
plt.xlabel('Total Energy Consumption (billion BTU x10^6)')
plt.ylabel('Total CO2 emissions (million tons CO2)')
plt.annotate(SD[0],(0.24,3.8),fontsize=15,color="red")
rsquare = round(SD[1]**2,3)
plt.annotate(f"r-squared = {rsquare}", (0.18,5.5), fontsize=12)
# plt.savefig("../images/SD_reg.png")
plt.show()

In [ ]:
ND_res = t_residential_df["USA-ND"]
ND_com = t_commercial_df["USA-ND"]
ND_ind = t_industrial_df["USA-ND"]
ND_combined = pd.merge(ND_res, ND_com, left_index = True, right_index = True)
ND_final = pd.merge(ND_combined, ND_ind,left_index = True, right_index = True)
ND_final.columns = ["Residential", "Commercial", "Industrial"]
ND_final["Total Consumption"] = ND_final.sum(axis = 1)
ND_final

In [ ]:
ND_co2_res = t_co2_residential_df["ND"]
ND_co2_com = t_co2_commercial_df["ND"]
ND_co2_ind = t_co2_industrial_df["ND"]

ND_co2_combined = pd.merge(ND_co2_res, ND_co2_com, left_index = True, right_index = True)
ND_co2_final = pd.merge(ND_co2_combined, ND_co2_ind,left_index = True, right_index = True)
ND_co2_final.columns = ["Residential", "Commercial", "Industrial"]
ND_co2_final["Total Emissions"] = ND_co2_final.sum(axis = 1)
ND_co2_final

In [ ]:
ND_x = ND_final["Total Consumption"]/1000000
ND=regression(ND_x, ND_co2_final["Total Emissions"])
plt.title("CO2 emission by Total Energy Consumption in ND")
plt.xlabel('Total Energy Consumption (billion BTU x10^6)')
plt.ylabel('Total CO2 emissions (million tons CO2)')
plt.annotate(ND[0],(0.40,14),fontsize=15,color="red")
rsquare = round(ND[1]**2,3)
plt.annotate(f"r-squared = {rsquare}", (0.31,19), fontsize=12)                  
# plt.savefig("../images/ND_reg.png")
plt.show()

r-squared for US = 0.52 r-squared for AK = 0.98 r-squared for SD = 0.789 r-squared for ND = 0.96 For the three states with the lowest solar energy consumption, the r-squared for CO2 emissions by Total Energy Consumption are very high (0.79 -0.98), suggesting that the regression models for these states account for the majority of the variance in the data observed.

Taken together, the regression models suggest that in states with the lowest solar energy consumption, the variability in CO2 emissions is mostly accounted for by the total energy consumption in that state. In states with the hightest solar energy consumption, the variablity in CO2 emissions is inadequately accounted for by total energy consumption.

In [ ]:
VT_final

In [ ]:
VT_final["Res %"] = VT_final["Total Consumption"]/VT_final["Residential"]
VT_final

# Further CO2 Analysis

In [ ]:
#Total Carbon Dioxide Emissions, all fuels, in millions metric tons
commercial = pd.read_csv('../Resources/commercial_c02.csv')
industrial = pd.read_csv('../Resources/industrial_c02.csv')
residential = pd.read_csv('../Resources/residential_c02.csv')

In [ ]:
years = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]
compare_dict = {'Commercial': [commercial['2000'].sum(),commercial['2001'].sum(),commercial['2002'].sum(),
                       commercial['2003'].sum(),commercial['2004'].sum(),commercial['2005'].sum(),
                       commercial['2004'].sum(),commercial['2007'].sum(),commercial['2008'].sum(),
                       commercial['2009'].sum(),commercial['2010'].sum(),commercial['2011'].sum(),
                       commercial['2012'].sum(),commercial['2013'].sum(),commercial['2014'].sum(),
                        commercial['2015'].sum()],
       'Industrial' : [industrial['2000'].sum(),industrial['2001'].sum(),industrial['2002'].sum(),
                       industrial['2003'].sum(),industrial['2004'].sum(),industrial['2005'].sum(),
                       industrial['2004'].sum(),industrial['2007'].sum(),industrial['2008'].sum(),
                       industrial['2009'].sum(),industrial['2010'].sum(),industrial['2011'].sum(),
                       industrial['2012'].sum(),industrial['2013'].sum(),industrial['2014'].sum(),
                          industrial['2015'].sum()],
       'Residential' :[residential['2000'].sum(),residential['2001'].sum(),residential['2002'].sum(),
                       residential['2003'].sum(),residential['2004'].sum(),residential['2005'].sum(),
                       residential['2004'].sum(),residential['2007'].sum(),residential['2008'].sum(),
                       residential['2009'].sum(),residential['2010'].sum(),residential['2011'].sum(),
                       residential['2012'].sum(),residential['2013'].sum(),residential['2014'].sum(),
                          residential['2015'].sum()],
               'Year': years}

all_df = pd.DataFrame(data = compare_dict).reset_index()
all_df['Total'] = all_df['Commercial'] + all_df['Industrial'] + all_df['Residential']
all_df

In [ ]:
#plt.plot(all_df['Year'],all_df['Commercial'])
#plt.plot(all_df['Year'],all_df['Industrial'], color = 'r')
plt.plot(all_df['Year'],all_df['Total'], color = 'b')
plt.ylim(1000,2000)
plt.show()

In [ ]:
commercial

In [ ]:
residential